<h2 class="title is-3">Add Song</h2>

<%= form_for @conn, Routes.song_path(@conn, :create), [multipart: true, as: :song, class: "form"], fn f -> %>
  
  <div>
    <label>File</label>
    <%= file_input f, :file %>
  </div>

  <div>
    <%= submit "Submit", class: "button is-primary" %>
  </div>
<% end %>
